{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>ePortfolio by Byron</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/bicon.svg' %}" rel="icon">
  <link href="{% static 'assets/img/bicon.svg' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

  <!-- =======================================================
  * Template Name: iPortfolio - v3.3.0
  * Template URL: https://bootstrapmade.com/iportfolio-bootstrap-portfolio-websites-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="{% static 'assets/img/S2.jfif' %}" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html">Byron Akaose</a></h1>
        <div class="social-links mt-3 text-center">
          <a href="https://twitter.com" target="_blank" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="https://github.com/snndmaa" target="_blank" class="instagram"><i class="bx bxl-github"></i></a>
          <a href="mailto:chikenjiaju@gmail.com" target="_blank" class="google-plus"><i class="bx bx-envelope"></i></a>
          <a href="https://www.linkedin.com/in/byron-akaose-53a67a235/" target="_blank" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
          <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
          <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Portfolio</span></a></li>
          <li><a href="#services" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Services</span></a></li>
          <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1>Byron Akaose</h1>
      <p>I'm <span class="typed" data-typed-items="an Engineer, a Developer, a Freelancer, an Innovator"></span></p>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title">
          <h2>About</h2>
          <p>Welcome to my digital realm! I'm a passionate software engineer, dedicated to crafting elegant solutions in the world of technology. With a knack for innovation and an unquenchable curiosity, I embark on a journey of continuous learning, exploring the ever-evolving landscape of code.</p>
        </div>

        <div class="row">
          <div class="col-lg-4" data-aos="fade-right">
            <img src="{% static 'assets/img/S4.jfif' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <h3>Full Stack Engineer.</h3>
            <p class="fst-italic">
              I specialize in creating elegant solutions that bridge the gap between innovation and functionality.
            </p>
            <div class="row">
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>15 December 1998</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Github:</strong> <a href="https://github.com/snndmaa" target="_blank">https://github.com/snndmaa</a></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+23059344343</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Flic en Flac, Mauritius</span></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul>
                  <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>24</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Double</span></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <a href="mailto:chikenjiaju@gmail.com">chikenjiaju@gmail.com</a></li>
                  <li><i class="bi bi-chevron-right"></i> <strong>Freelance:</strong> <span>Available</span></li>
                </ul>
              </div>
            </div>
            <p>
              Proficient in end-to-end development of web and mobile applications, from concept and design to deployment and maintenance. Skilled in both front-end and back-end development, using technologies such as React, React Native, Node.js, Django, and more.
              Strong problem-solving abilities to troubleshoot and resolve complex technical issues efficiently. Demonstrated expertise in optimizing application performance and ensuring data security.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Facts Section ======= -->
    <section id="facts" class="facts">
      <div class="container">

        <div class="section-title">
          <h2>Facts</h2>
          <p>In numbers and achievements, my track record speaks for itself. Here's a snapshot of what I've accomplished over my 4+ years of experience.</p>
        </div>

        <div class="row no-gutters">

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
            <div class="count-box">
              <i class="bi bi-emoji-smile"></i>
              <span data-purecounter-start="0" data-purecounter-end="90" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Client Satisfaction Score</strong></p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="count-box">
              <i class="bi bi-journal-richtext"></i>
              <span data-purecounter-start="0" data-purecounter-end="30" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Projects Successfully Delivered</strong></p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="count-box">
              <i class="bi bi-headset"></i>
              <span data-purecounter-start="0" data-purecounter-end="952" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Hours Of Support</strong> Technical and Client Feedback</p>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300">
            <div class="count-box">
              <i class="bi bi-people"></i>
              <span data-purecounter-start="0" data-purecounter-end="30" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>Languages, Frameworks and Technologies</strong></p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Facts Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Skills</h2>
          <p>Explore my versatile skill set in Languages, Frameworks and Technologies that fuel my passion for innovation and software development excellence.</p>
        </div>

        <div class="row skills-content">

          <div class="col-lg-6" data-aos="fade-up">

            <div class="progress">
              <span class="skill">HTML <i class="val">100%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">CSS <i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">BootStrap <i class="val">79%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="79" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Tailwind <i class="val">80%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">JavaScript <i class="val">95%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            
            <div class="progress">
              <span class="skill">React <i class="val">96%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="96" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">React-Native <i class="val">93%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="93" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Expo <i class="val">93%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="93" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Flutter <i class="val">66%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Stellar <i class="val">96%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="96" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

            <div class="progress">
              <span class="skill">C <i class="val">78%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Python <i class="val">96%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="96" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Django <i class="val">96%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="96" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">NodeJS <i class="val">96%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="96" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Dart <i class="val">70%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">AWS <i class="val">92%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="92" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Google Cloud <i class="val">84%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="84" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">Genesys <i class="val">76%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="76" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">SQL <i class="val">100%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

            <div class="progress">
              <span class="skill">MongoDB <i class="val">100%</i></span>
              <div class="progress-bar-wrap">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>

          </div>

        </div>

      </div>
    </section><!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container">

        <div class="section-title">
          <h2>Resume</h2>
          <p>Delve into my extensive professional journey, explore my diverse skill set, and uncover a track record of notable accomplishments.</p>
        </div>

        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            <h3 class="resume-title">Sumary</h3>
            <div class="resume-item pb-0">
              <h4>Byron Akaose</h4>
              <p><em>Experienced and results-oriented Software Engineer with over 4 years of expertise in developing and delivering sophisticated software solutions, from conceptualization through to robust, high-quality deliverables.</em></p>
              <ul>
                <li>1 Coastal Road, Flic en Flac, BR</li>
                <li>+230 593 443 43</li>
                <li>chikenjiaju@gmail.com</li>
              </ul>
            </div>

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Bachelor of Cybersecurity &amp; Digital Forensics</h4>
              <h5>2022 - 2025</h5>
              <p><em>Middlesex University, Flic en Flac, BR</em></p>
              <p>This program equips me with a comprehensive understanding of modern cybersecurity threats and the tools needed to defend against them. I'm dedicated to safeguarding digital assets and committed to acquiring the knowledge to mitigate cyber risks effectively. I'm also passionate about digital forensics, eager to trace digital footprints and aid in the pursuit of justice in the digital realm. My goal is to contribute to a safer digital landscape.</p>
            </div>
            <div class="resume-item">
              <h4>Bachelor of Computer Science</h4>
              <h5>2018 - 2022</h5>
              <p><em>Trent University, Peterborough, ON</em></p>
              <p>I hold a Bachelor's degree in Computer Science, with a specialization in Software Engineering, which has provided me with a strong foundation and expertise in designing and developing innovative software solutions. Throughout my academic journey, I've honed my skills in creating efficient and scalable software systems that address complex real-world challenges.</p>
            </div>
          </div>
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>Developer Team Lead</h4>
              <h5>2023 - Present</h5>
              <p><em>Avenaj Limited, Remote </em></p>
              <ul>
                <li>Spearheaded a multidisciplinary team of developers, designers, and QA engineers to develop and maintain a high-performing, real-time ride-sharing platform</li>
                <li>Continuously monitored app performance, identifying and rectifying bottlenecks, resulting in a 25% improvement in app load times. </li>
                <li>Successfully integrated secure payment gateways, such as Stripe and PayPal, ensuring seamless and reliable financial transactions for users and drivers.</li>
                <li>Leveraged Knowledge in Git, React Native, Expo, NodeJS, AWS EC2, AWS RDS, Google Cloud, and MongoDB.</li>
              </ul>
            </div>
            <div class="resume-item">
              <h4>Senior Full Stack Engineer</h4>
              <h5>2022 - 2023</h5>
              <p><em>Elink, Lagos, NG</em></p>
              <ul>
                <li>Developed a robust Django application serving as a Stellar anchor, this solution led to a 50% increase in transaction efficiency, processing hundreds of transactions per day with an average response time of less than 600 milliseconds.</li>
                <li>Utilized AWS Amplify to seamlessly transform Figma components into fully functional React components, resulting in a remarkable 30% reduction in development time.</li>
                <li>Spearheaded the setup and configuration of a high-performance Django web server hosted on an AWS EC2 instance, enhancing application reliability and scalability.</li>
                <li>Leveraged Knowledge in Git, React, NodeJS, Django, Stellar, AWS Amplify, AWS EC2, AWS RDS, Nginx, Gunicorn, MongoDB and PostgreSQL.</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Portfolio</h2>
          <p>A carefully curated portfolio that encapsulates my journey through the world of software development. Each project is a testament to my commitment to excellence and my drive to create meaningful and efficient solutions. Dive in and discover the intersection of creativity and technology.</p>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-lg-12 d-flex justify-content-center">
            <ul id="portfolio-flters">
              <li data-filter="*" class="filter-active">All</li>
              <li data-filter=".filter-app">Desktop</li>
              <li data-filter=".filter-web">Web</li>
              <li data-filter=".filter-card">Mobile</li>
            </ul>
          </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/apps/bytradee.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="{% static 'assets/img/apps/bytrade.jpeg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Crypto Trade Application"><i class="bx bx-plus"></i></a>
                <a href="https://github.com/snndmaa/desk_trade" target="_blank" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/apps/fpe.png' %}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="{% static 'assets/img/apps/fp.png' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Ecommerce Platform with Geolocation Service "><i class="bx bx-plus"></i></a>
                <a href="https://claw404.pythonanywhere.com" target="_blank" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/apps/manudae.png' %}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="{% static 'assets/img/apps/manuda.jpeg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Hotel Management Software"><i class="bx bx-plus"></i></a>
                <a href="https://github.com/snndmaa/Hotel-Management-App" target="_blank" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/apps/uber3.png' %}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="{% static 'assets/img/apps/uber.png' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Ride Share Application"><i class="bx bx-plus"></i></a>
                <a href="https://github.com/snndmaa/ride_share" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/apps/wallete.png' %}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="{% static 'assets/img/apps/wallet.png' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Stellar Anchor Application"><i class="bx bx-plus"></i></a>
                <a href="https://demo-wallet.stellar.org" target="_blank" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/apps/jobgo3.png' %}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="{% static 'assets/img/apps/jobgo.jpeg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Freelance Contract Platform"><i class="bx bx-plus"></i></a>
                <a href="https://github.com/snndmaa/JobGo" target="_blank" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/apps/onirixe.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="{% static 'assets/img/apps/onirix.jpeg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Dream Predictor UI"><i class="bx bx-plus"></i></a>
                <a href="https://github.com/snndmaa/webcup_entry" target="_blank" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/apps/pacmane.png' %}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="{% static 'assets/img/apps/pacman.jpeg' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Pacman Rainbow Edition"><i class="bx bx-plus"></i></a>
                <a href="https://github.com/snndmaa/rainbow_pacman" target="_blank" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-wrap">
              <img src="{% static 'assets/img/apps/rente.jpg' %}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="{% static 'assets/img/apps/rent.png' %}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="Property Marketplace Platform"><i class="bx bx-plus"></i></a>
                <a href="https://house-marketplace.vercel.app" target="_blank" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title">
          <h2>Services</h2>
          <p>From crafting intuitive user interfaces to architecting scalable server infrastructures, my services are tailored to meet the diverse needs of clients seeking innovation, efficiency, and excellence in software development</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
            <div class="icon"><i class="bi bi-person"></i></div>
            <h4 class="title"><a href="">Administration</a></h4>
            <p class="description">Expertly managing databases, applications, and servers to ensure optimal performance, security, and reliability. Your digital infrastructure in capable hands.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="bi bi-pencil-square"></i></div>
            <h4 class="title"><a href="">Architecture</a></h4>
            <p class="description">Building robust and scalable software architectures that form the foundation for your digital success. I ensure your applications are structured for optimal performance and future growth.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
            <div class="icon"><i class="bi bi-code-slash"></i></div>
            <h4 class="title"><a href="">Development</a></h4>
            <p class="description">Crafting seamless and responsive desktop, web, and mobile applications tailored to your unique needs. From concept to deployment, I bring your digital vision to life.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon"><i class="bi bi-link"></i></div>
            <h4 class="title"><a href="">Integration</a></h4>
            <p class="description">Seamlessly connect your applications and services with APIs and payment gateways. I specialize in creating robust and secure integrations to enhance your digital ecosystem.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
            <div class="icon"><i class="bi bi-lightning-charge"></i></div>
            <h4 class="title"><a href="">Optimization</a></h4>
            <p class="description">Elevating your digital presence and performance. I fine-tune applications, boost speed, and enhance user experiences for optimum results in the ever-evolving digital landscape.</p>
          </div>
          <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class="bi bi-bug"></i></div>
            <h4 class="title"><a href="">Troubleshooting</a></h4>
            <p class="description">Unearthing and resolving software bugs and performance bottlenecks, ensuring your applications run smoothly and efficiently. I'm here to keep your digital solutions in top shape.</p>
          </div>
        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Testimonials</h2>
          <p>Discover what others have to say about their experiences working with me. These testimonials reflect the quality, dedication, and impact I bring to every project.</p>
        </div>

        <div class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Working with Byron was a game-changer for our startup. His technical prowess and ability to turn ideas into reality are truly exceptional. Our project exceeded all expectations, thanks to his expertise
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="{% static 'assets/img/testimonials/ref3.jpg' %}" class="testimonial-img" alt="">
                <h3>Miriam Achonwa</h3>
                <h4>UI/UX Designer</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up" data-aos-delay="100">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  I've collaborated with many developers, but Byron stands out. His attention to detail, problem-solving skills, and knack for optimizing code make him a valuable asset. Our project's success speaks volumes.                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="{% static 'assets/img/testimonials/ref5.jpg' %}" class="testimonial-img" alt="">
                <h3>Kamal Idris</h3>
                <h4>Ceo &amp; Founder</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up" data-aos-delay="200">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  I can't thank Byron enough for His dedication and expertise. He turned our complex requirements into a seamless application. His communication and problem-solving abilities make them a go-to developer.
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="{% static 'assets/img/testimonials/ref1.jpg' %}" class="testimonial-img" alt="">
                <h3>Muyiwa Thompson</h3>
                <h4>Software Architect</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up" data-aos-delay="300">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Hiring Byron was a decision I'll never regret. He not only delivered on time but also brought creative solutions to the table. Our app is now faster, sleeker, and more user-friendly
                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="{% static 'assets/img/testimonials/ref4.jpg' %}" class="testimonial-img" alt="">
                <h3>Pradeep Singh</h3>
                <h4>Project Manager</h4>
              </div>
            </div><!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up" data-aos-delay="400">
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  Byron is a top-notch developer. He understood our vision from the get-go and transformed it into an elegant and efficient application. His commitment to quality is unmatched.                  <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
                <img src="{% static 'assets/img/testimonials/ref2.jpg' %}" class="testimonial-img" alt="">
                <h3>Peter Ajayi</h3>
                <h4>Entrepreneur</h4>
              </div>
            </div><!-- End testimonial item -->

          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
          <p>Let's Connect! Whether you have an exciting project in mind, want to discuss a potential collaboration, or simply want to say hello, I'm just a message away. Feel free to reach out, and I'll get back to you as soon as possible. I'm eager to hear from you and explore how we can work together to bring your ideas to life.</p>
        </div>

        <div class="row" data-aos="fade-in">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>1 Coastal Road, Flic en Flac</p>
              </div>

              <div class="email">
                <i class="bi bi-envelope"></i>
                <h4>Email:</h4>
                <p>chikenjiaju@gmail.com</p>
              </div>

              <div class="phone">
                <i class="bi bi-phone"></i>
                <h4>Call:</h4>
                <p>+230 593 443 43</p>
              </div>

              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3742.4785533397676!2d57.39114487481976!3d-20.28044964931626!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x217c43eca4be1deb%3A0xfac15df6fd917893!2sStudent%20Life%20Residences!5e0!3m2!1sen!2smu!4v1695258001071!5m2!1sen!2smu" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
            </div>

          </div>

          <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
            <form action="/" method="post" role="form" class="php-email-form">
              {% csrf_token %}
              <div class="row">
                <div class="form-group col-md-6">
                  <label for="name">Your Name</label>
                  <input type="text" name="name" class="form-control" id="name" required>
                </div>
                <div class="form-group col-md-6">
                  <label for="name">Your Email</label>
                  <input type="email" class="form-control" name="email" id="email" required>
                </div>
              </div>
              <div class="form-group">
                <label for="name">Subject</label>
                <input type="text" class="form-control" name="subject" id="subject" required>
              </div>
              <div class="form-group">
                <label for="name">Message</label>
                <textarea class="form-control" name="message" rows="10" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Byron</span></strong>
      </div>
      <div class="credits">
        Made with BootStrap
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static 'assets/vendor/purecounter/purecounter.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/typed.js/typed.min.js' %}"></script>
  <script src="{% static 'assets/vendor/waypoints/noframework.waypoints.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>